<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discogs API</title>
</head>
<body>
    <div style="margin: 0; padding: 1rem;">
        <form method="get" action="/login">
            <input type="submit" value="Login" />
        </form>
        <br>
        <form method="get" action="/checkUserAuth" style="margin-bottom: 15px;">
            <input type="submit" value="checkUserAuth" />
        </form>
        <br>
        <form method="get" action="/getUserSubmissions" style="margin-bottom: 15px;">
            <input type="submit" value="getUserSubmissions" />
        </form>
        <br>
        <form method="get" action="/getUserCollection" style="margin-bottom: 15px;">
            <input type="submit" value="getUserCollection" />
        </form>
        <br>
        <br>
        <form method="get" action="/release" style="margin-bottom: 15px;">
            <input type="submit" value="release" />
        </form>
    </div>
    <h1 th:text="${username}"></h1>
    <h1 th:text="${isAuthenticated}"></h1>
    <p th:text="${submissions}"></p>
    <p th:text="${collection}"></p>
    <p th:text="${release}"></p>
</body>
</html>